body {
    background-image: url("logo/logo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    
}

form {
    background-color: rgb(17, 73, 66);
    opacity: 70%;
    width: 80%;
    height: 50%;
    margin: auto;
    margin-top: 1%;
    padding: 20px;

}

.state {
    margin-left: 80px;
    display: inline-block;
}

.country {
    margin-left: 80px;
    display: inline-block;
}

input {
    margin-bottom: 20px;
    opacity: 50%;
}

label {
    color: white;

}

.container sub {
    padding-bottom: 20px;
    width: 150px;
    height: 10px;
    opacity: 50%;
    
}
.sub{
    margin-left:50px;
}
.first{
    margin-left:85px;
}
.last{
    margin-left:70px;
}
.bill{
    margin-left:35px;
}
.your{
    margin-left:50px;
}
.city{
    margin-left:130px;
}
.zip{
    margin-left:100px;
}
#country{
    margin-left:120px;
}
::placeholder {
    opacity: 80%;
}

select {
    padding-bottom: 20px;
    width: 150px;
    height: 20px;
}

#place {
    margin-left: 20%;
    padding: 0 25px;
    color: white;
    background-color: orange;
    border: none;
    opacity: 100%;
    height: 40px;
    border-radius: 10px;
}

#reset {
    margin-left: -20%;
    margin-left: 30px;
    padding: 0 25px;
    background-color: blue;
    color: white;
    border: none;
    opacity:100%;
    height:40px;
    border-radius: 10px;
}

.address {
    width: 600px;
    height: 40px;
  
}

.last {
    margin-left: 80px;
    display: inline-block;
}

h1 {
    text-align: center;
    color: rgb(3, 2, 2);
}