

.line {
    background-color: rgb(33, 150, 150);
    margin:auto 30%;
    height: 25px;
}
body {
    background-color: rgb(14, 13, 13);
    overflow:hidden;   
}
p { 
    color: rgb(253, 253, 253);
    height: 20px;
    font-family: sans-serif;
    text-align: center;
    letter-spacing: 40px;
    font-size: 25px;
    font-weight:bold;
    margin-top:10px;
    margin-bottom:8px;
    }
.parent{
   padding:10px auto;
}