h1 {
    
    letter-spacing: 50px;
    
}

.line {
    background-color: rgb(33, 150, 150);
    margin-left: 30%;
    margin-right: 30%;
    height: 25px;
}

body {
    background-color: rgb(14, 13, 13);
    padding: 10px;
    margin-top: 10px;
}

.word {
    color: rgb(253, 253, 253);
    height: 40px;
    font-family: sans-serif;
    text-align: center;
}