.red {
    background-color: rgb(187, 16, 16);
    height: 130px;
    width: 30%;
    margin-right: 40px;
    
}

.blue {
    background-color: blue;
    height: 130px;
    width: 70%;
    
}

.first ,.third,.four,.five{
    display: flex;
    flex-direction: row;
    margin-top:20px;
}
.orange{
    background: orange;
    height:100px;
    width:100%;
    margin-top:20px;
}
.green{
    background-color:green;
    height:110px;
    width:30%;
    margin-right: 35px;
}
.yellow{
    background-color:yellow;
    height:110px;
    width:40%;
    
}
.black{
    background-color:black;
    height:110px;
    width:30%;
    margin-right: 35px; 
}
.brown{
    background:brown;
    height:110px;
    width:50%;
    margin-right:20px;
}
.tealblue{
    background:skyblue;
    height:110px;
    width:50%;
    margin-right:20px;
}
.red1{
    background: rgb(255, 51, 51);
    height:110px;
    width:25%;
    margin-left:20px;
}
.yellow1{
    background: rgb(132, 160, 6);
    height:110px;
    width:25%;
    margin-left:20px;
}
.tealblue1{
    background: rgb(57, 57, 202);
    height:110px;
    width:25%;
    margin-left:20px;
}
.blue1{
    background: rgb(39, 39, 161);
    height:110px;
    width:25%;
    margin-left:20px;
}
