* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

section {
    margin: 20px;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex
}

#image {
position: relative;
width: 50%;
height: 100%;
background: url("OIP (4).jfif");
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}

#content {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.right {
    width: 50%
}

.right h2 {
    color: #607d8b;
    font-weight: 600;
font-size: 1.5em;
text-transform: uppercase;
margin-bottom: 20px;
border-bottom: 4px solid #ff4584;
display: inline-block;
letter-spacing: 1px;
}

.right .inputbox {
    margin-bottom: 20px
}

.inputbox span {

    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    letter-spacing: 1px;
}

.inputbox input {
width: 100%;
padding: 10px 20px;
outline: none;
font-weight: 400;
border: 1px solid #607d8b;
font-size: 16px;
letter-spacing: 1px;
color: #607d8b;
background: transparent;
border-radius: 30px;
}
.inputbox input[type="submit"] {
    background: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.check {
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
}

.inputbx p {
color: #607d8b;

}

.inputbx p a {
    color: #ff4584
}

h3 {
    color: #607d8b;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li {
    display: inline;
}

body {
    background: linear-gradient(to right, rgb(68, 68, 216), rgb(223, 109, 128));
}
